/*font Variables*/

$primary-font: 'K2D',
sans-serif;
$russo: 'Russo One',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;

/*Color Variables*/

$primary-color: #FFA012;
$primary-color2: #3CBBAC;
$title-color: #fff;
$text-color: #fff;